@import 'bootstrap/bootstrap.less';
@import 'underscores.less';
@import 'home.less';
@import 'variables.less';

h2, .h2 {
	color: @gray-light;
}

h3, .h3 {
	color: @brand-info;
	font-weight: 400;
}

strong {
	font-weight: 600;
}

.btn {
	background: none;
	border-width: 2px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

#header-wrap {
	background: @gray-darker;
	border-bottom: 1px solid @gray;
}

#main-nav {
	padding: 2.5em 0;
	
	.menu-primary-container {
		float: right;

		.menu {

			.menu-item {
				margin-left: 4em;

				a {
					color: @brand-info;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: 600;
					letter-spacing: 1px;
					text-align: left;
					text-decoration: none;
					display: inline-block;
					line-height: 34px;
					-webkit-transition: color 0.4s;
					-moz-transition: color 0.4s;
					-o-transition: color 0.4s;
					transition: color 0.4s;
					
					&:hover {
						color: @brand-primary;
					}
				}
			}
		}
	}
	
}

.section {
	border-bottom: 1px solid @gray-light;
	
	.center-vertically {
		padding-bottom: 3em;
		padding-top: 5em;
	}
	
	.responsive-background {
		background-repeat: no-repeat !important;
		background-size: auto 100% !important;
		height: 450px;
		
		&:first-child {
			background-position: 0 100% !important;
			
		}
		&:last-child {
			background-position: 100% 0 !important;
		}
	}
	
	&.separator {
		background: @gray-darker;
		padding: 2.5em;
	}
}